/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;

}

/* Header rules */
header {
    height: 70px;
    background-color: black;
}

#right-icon {
    display: flex;
    justify-content: flex-end;
}

#right-icon a {
    color: white;
    background-color: rgb(74, 74, 74);
    padding: 5px;
    border-radius: 5px;
    margin: 5px 2px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}

.preview {
    width: 250px;
    height: 150px;
    position: relative;
    margin-bottom: 5px;
}

.preview .username {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 2px 0;
}


/* Main rules */
main {
    height: calc(100vh - 150px);
    background-color: black;
}

/* Footer rules */
footer {
    height: 80px;
    background-color: rgb(34, 34, 34);
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
    align-items: center;
    font-size: 10px;
}

#left-nav {
    width: 20%;
    display: flex;
}

footer a {
    margin: 0 10px;
}

footer .fas{
    font-size: 25px;
    margin-bottom: 5px;
}

footer .fa-angle-up {
    font-size: 10px;
    color: white;
    margin: 25px 10px;
}

#central-nav {
    width: 60%;
    display: flex;
    justify-content: center;
}

#central-nav .fa-share-square{
    color: green;
}

#right-nav {
    width: 20%;
    height: 100%;
}

#right-nav h2 {
    background-color: rgb(74, 74, 74);
    color: red;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}